@model IEnumerable<Meeting_Management.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    var Roles = ViewBag.Roleid as SelectList;
}

<h2>Danh sách tài khoản</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-right">
            @*@Html.("Create New", "Create")*@
            <input type="button" value="Create New" onclick="location.href='@Url.Action("Create New", "Create")'" />
            <br />
        </div>
    </div>
    
    <div class="col-sm-12">
        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="#" />
        </div>
    </div>
</div>
<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <select class="form-control">
                        <option>Admin</option>
                        <option>BCN</option>
                        <option>Host</option>
                    </select>
                    @*@Html.DropDownList("UserRole",new { @class = "form-control" })*@
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
            </tr>
        }

    </table>

</div>
